{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="mx-auto mt-5 w-80">
    <div class='container'>
        <div class='content-section'>
            <form method='POST'>
                {% csrf_token %}
                <fieldset class='form-group'>
                    <legend class='border-bottom mb-4'>
                        Edit post!
                    </legend>
                    {{ form | crispy }}
                </fieldset>
                <div class='form-group'>
                    <button class="btn btn-outline-info" type='submit'>
                        Edit
                    </button>
                    <a class="btn btn-outline-info ml-3" href="{% url 'user-posts' %}">
                        Done
                    </a>
                </div>
            </form>
            
            
        </div>
    </div>
</div>
{% endblock %}